<fieldset class="deadline-editor-form-subtask">
	<legend>SubTask:</legend>
	<label>
	    Title
	    <input type="text" class="deadline-editor-form-subtask-title-input" name="title" autofocus="true" value="{{title}}">
	</label>
	<label>
	    Start
	    <input type="date" class="deadline-editor-form-subtask-start-date-input" name="start-date" value="{{startDate}}">
	</label>
	<input type="time" class="deadline-editor-form-subtask-start-time-input" name="start-time" value="{{startTime}}">
	<label>
	    End
	    <input type="date" class="deadline-editor-form-subtask-end-date-input" name="end-date" value="{{endDate}}">
	</label>
	<input type="time" class="deadline-editor-form-subtask-end-time-input" name="end-time" value="{{endTime}}">
	<input type="checkbox" class="deadline-editor-form-subtask-done-input"
	{{#if isDone}}
		checked
	{{/if}}
	>
	<input type="button" class="deadline-editor-form-subtask-remove-button" value="-">
</fieldset>